@keyframes backgroundAnimation {
    0% {
        background-position: 1000px 2100px;
    }

    100% {
        background-position: 1920px 2100px;
    }
}

.ContainerV2 {
    width: 370px;
    height: 550px;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ContainerV2Anime {
    width: 370px;
    height: 550px;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: backgroundAnimation 150s linear infinite alternate;
}

.test {
    width: 100px;
    min-height: 100px;
    background-image: url('../assets/sunny.jpg')
}