@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.MainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* margin-bottom: 30px; */
    width: 100%;
    animation: backgroundAnimation 5s linear infinite;
    /* background-color: rgba(255, 255, 255, 1);
    width: 90%; */
}

.MainInfoV2 {
    display: flex;
    font-size: 8px;
    top: 0px;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.UserPos {
    position: absolute;
    font-size: 2em;
    top: 20px;
}

.Temp {
    position: absolute;
    font-size: 5em;
    margin-left: 10px;
    top: 35px;
}

.TempV2 {
    margin-right: 10px;
}

.WeatherV2 {
    margin-left: 10px;
}

.Weather {
    position: absolute;
    font-size: 1.1em;
    top: 140px;

}

.MinMaxT {
    position: relative;
    font-size: 1.1em;
    top: 140px;
    left: 5px;


}