::-webkit-scrollbar {
    width: 6px;
    /* 卷軸的寬度 */
    height: 6px;
    /* 卷軸的高度 */
}

::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    /* 卷軸滑塊的背景色 */
    border-radius: 3px;
    /* 圓角 */
}

.aa {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35px;
    min-height: 205px;

}

.Row24Hr {
    width: 90%;
    /* height: 150px; */
    border-radius: 10px;
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;
    /* margin-top: 10px; */
    position: absolute;
    /* padding-top: 10px; */
    top: 10px;
    /* transition: opacity 0.3s ease-in-out; */
}

.Item1Hr {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    /* height: 5%; */
    align-items: center;
    margin-top: 25px;
}

.Time {
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
}

.Pop {
    font-size: 0.5em;
    text-align: center;
    color: #48cae4;

}

.Img {
    width: 40px;
    text-align: center;
    position: relative;
    margin-top: -5px;
}

.TempHr {
    font-size: 1.2em;
    text-align: center;
    margin-top: -12px;
}