.ChangeTimeBut {
    width: 100%;
    display: flex;
    justify-content: center;

}

.LeftBut {
    width: 3em;
    height: 3em;
    margin-right: 70px;
}

.RightBut {
    width: 3em;
    height: 3em;
    margin-left: 70px;
}