.MyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 370px;
    height: 550px;
    border-radius: 10px;
    background-image: url('../background.avif');
    border: 1px solid black;

}